
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  label,
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
#loginForm{
    margin: 10px;
}
  